<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @testplan.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @testplan.desc %>
</p>

<p>
  <b>Owner:</b>
  <%= @testplan.user.name %>
</p>

<p>
  <b>Locales:</b>
  <%= @testplan.locales.collect do |s| [s.locale_name] end.join ", " %>

</p>

<p>
  <b>Start date planned:</b>
  <%= @testplan.start_date_planned %>
</p>

<p>
  <b>End date planned:</b>
  <%= @testplan.end_date_planned %>
</p>

<p>
  <b>Start date actual:</b>
  <%= @testplan.start_date_actual %>
</p>

<p>
  <b>End date actual:</b>
  <%= @testplan.end_date_actual %>
</p>

<p>
  <b>Test cases:</b>
  <table>
    <tr>
      <th>Title</th>
      <% @locales.each do |locale| %>
        <th><%= locale[0] %></th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
  <% @testplan.testcases.each do |testcase| %>
    <tr>
      <td><%= testcase.title %></td>
      <% @locales.each do |locale| %>
        <% testresult = @testplan.find_result(testcase.id, locale[1]) %>
        <td><%= testresult ? testresult.test_result : "pending" %></td>
      <% end %>
      <td><%= link_to 'Show', testcase %></td>
    </tr>
  <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_testplan_path(@testplan) %> |
<%= link_to 'Visit Parent Task', @task %> |
<%= link_to 'Add Cases', select_cases_testplan_path(@testplan) %> |
<%= link_to 'Add Results', edit_results_testplan_path(@testplan) %>
